<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <p class="copyright text-muted">Copyright &copy; Gauchada.com 2016</p>
                <center><%= image_tag("http://i66.tinypic.com/1687480.png",height: 60, width: 110) %> </center>
            </div>
        </div>
    </div>
</footer>