<footer>

<div class="jumbotron2">


              <p  ALIGN=center>
              
              <button type="button" class="btn btn-warning btn-xs"><%= link_to "Preguntas Frecuentes", about_path %> </button>

              &nbsp&nbsp&nbsp 

              <button type="button" class="btn btn-warning btn-xs"><%= link_to "Contacto", contact_path, data: { no_turbolink: true }%></button>

                  
              </p>

                <p class="copyright text-muted">Copyright &copy; Gauchada.com 2016</p>
                <center><%= image_tag("http://i66.tinypic.com/1687480.png",height: 80, width: 130) %> </center>

    </div>
</footer>
