<% provide(:title, "About") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<h2 style="color:#FF8000;", ALIGN=center>Preguntas Frecuentes</h2>

<div class="container" style="margin-top:20px;">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="well">
      <div class="media">

<!--PREGUNTAS ACA -->
        <p ALIGN=justify>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper purus vel nulla auctor porttitor. Maecenas luctus purus vel lorem elementum aliquam. Cras accumsan ornare dui in faucibus. Aliquam mattis ullamcorper augue vel hendrerit. Nam non felis magna. Duis at convallis neque. Fusce cursus non nisi ac egestas. Duis turpis nisl, tempor ac rhoncus quis, auctor facilisis nulla. Vestibulum et rhoncus lorem. Vivamus quis blandit nibh. Sed porttitor molestie porta. Morbi volutpat euismod sapien, nec finibus elit semper sed. Donec eros magna, ultrices ac risus sed, convallis consequat mauris.</p>
        <p ALIGN=justify>Donec vitae velit id turpis pharetra imperdiet bibendum vel ex. Donec iaculis lectus quis maximus pharetra. Fusce condimentum convallis ex a dapibus. Ut viverra dui quis tempor ultricies. Ut aliquam porttitor blandit. Quisque sit amet venenatis metus. Fusce hendrerit lectus arcu, sit amet gravida ipsum luctus et.</p>
        <p ALIGN=justify>Nunc egestas laoreet massa, placerat fringilla elit mattis et. Nullam et eros consequat, aliquet sapien id, aliquam sem. Morbi ipsum purus, gravida non fringilla sit amet, congue sed magna. In volutpat eget ex et interdum. Sed porttitor ante ligula, nec ornare urna pharetra at. Curabitur dignissim enim risus, id dictum odio bibendum a. Aliquam suscipit, lorem at maximus auctor, lacus erat ornare ante, vel euismod ante magna vitae libero. Curabitur congue at dolor nec mattis. Sed tristique pellentesque cursus. Vestibulum vestibulum arcu a nibh finibus luctus. Duis quam elit, tincidunt nec tincidunt nec, accumsan volutpat justo. Vestibulum posuere consectetur congue.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>
