<% provide(:title, "Contact") %>

<%= render 'shim' %>
<%= render 'navigation' %>
<%= render 'header' %>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h2>Contacto</h2>
          <p> Tenés un mensaje, una duda o una sugerencia?</p>
          <p>Podés dejarnos un mensaje en nuestro correo ulisesynancy@hotmail.com</p>

        </div>
    </div>
</div>

<br>

<%= render 'footer' %>
