<h1  style="color:#FF8000;">Editar Favor</h1>




<div class="container" style="margin-top:20px;">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<div class="well" style="border-radius: 25px;">
<div class="media">

<%= render 'form', favor: @favor %>
</div>
</div>
</div>
</div>
<td><button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i><%= link_to ' Ver ', @favor %></button>

<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-menu-left"></i><%= link_to ' Volver', favors_path %></button></td>