<h2 style="color:#FF8000">Has reabierto el favor correctamente</h2>
<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-home"></i><%= link_to ' Ir al inicio', root_path %></button></td>
