<h3 style="color:#FF8000"> "Has elegido a alguien para realizar el favor"</h3><br><br>
<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-home"></i><%= link_to 'Ir al inicio', root_path %></button></td>
