
<p>
  <strong>Puntos comprados:</strong>
<%=  @compra.puntos  %>
</p>

<p>
  <strong>Costo total:</strong>
$<%=  @compra.monto  %>
</p>

<p>
  <strong>Puntos actuales:</strong>
  <%= current_user.puntos %>
</p>

