/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require font_awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
.btn-custom {
  background-color: hsl(29, 100%, 51%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea856", endColorstr="#ff7d05");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fea856), to(#ff7d05));
  background-image: -moz-linear-gradient(top, #fea856, #ff7d05);
  background-image: -ms-linear-gradient(top, #fea856, #ff7d05);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea856), color-stop(100%, #ff7d05));
  background-image: -webkit-linear-gradient(top, #fea856, #ff7d05);
  background-image: -o-linear-gradient(top, #fea856, #ff7d05);
  background-image: linear-gradient(#fea856, #ff7d05);
  border-color: #ff7d05 #ff7d05 hsl(29, 100%, 47%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}
