<div class="container" style="margin-top:20px;">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="well" style="border-radius: 35px;">
      <div class="media">


 <button type="button" class="btn-lg btn-warning" style="margin-bottom:10px"><i ></i><%= link_to ' Visitas', visitas_estadisticas_path %></button>

  <button type="button" class="btn-lg btn-warning" style="margin-bottom:10px"><i ></i><%= link_to ' Ganancias', ganancias_estadisticas_path %></button>

   <button type="button" class="btn-lg btn-warning" style="margin-bottom:10px"><i ></i><%= link_to ' Favores Resueltos', favores_resueltos_estadisticas_path %></button>

  </div></div></div></div>