<h1 style="color:#FF8000;">Nuevo Logro</h1>

<%= render 'form', logro: @logro %>



<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-certificate"></i><%= link_to ' Logros', logros_path %></button></td>