<h1 style="color:#FF8000;">Nuevo Precio</h1>

<%= render 'form', precio: @precio %>

<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-certificate"></i><%= link_to 'Volver al historial', precios_path %></button></td>
