<p>
  <strong>Precio actual</strong>
  <%= Precio.first.valor %>
</p>
</br>
<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-certificate"></i><%= link_to 'Volver al historial', precios_path %></button></td>
