<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada luego de varios intentos fallidos de acceder.</p>

<p>Haga click en el siguiente enlace para desbloquear su contraseña:</p>

<p><%= link_to 'Desbloquear mi contraseña', unlock_url(@resource, unlock_token: @token) %></p>
